:root{--font-default: "SF Pro Display", -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";--font-ibm-plex-sans: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";--font-franklin: "Libre Franklin", -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";--font-garamond: "EB Garamond", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";--font-source-serif: "Source Serif 4", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";--font-ibm-plex-mono: "IBM Plex Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";--font-XS:  0.75em;--font-S:   0.875em;--font-M:   1em;--font-L:   1.25em;--font-XL:  1.5em;--font-2XL: 2em;--base-font-size: 18px;--base-line-height: 1.5;--space-0:   0rem;--space-3XS: 0.125rem;--space-2XS: 0.25rem;--space-XS:  0.5rem;--space-S:   0.75rem;--space-M:   1.0rem;--space-L:   1.5rem;--space-XL:  2.0rem;--space-2XL: 2.5rem;--space-3XL: 3.0rem;--space-4XL: 4.0rem;--space-5XL: 5.0rem;--space-6XL: 6.0rem;--width-S:   480px;--width-M:   700px;--width-L:   900px;--width-XL: 1366px;--border-radius: var(--space-2XS)}
*,*:before,*:after{box-sizing:border-box;font-family:inherit;font-size:inherit;overflow-wrap:break-word;vertical-align:baseline}
html{font-size:18px;height:100%;margin:env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);overflow:auto;scroll-behavior:smooth;-webkit-text-size-adjust:none;text-size-adjust:none}
body{background-color:var(--color-bg);color:var(--color-txt);display:flex;flex-direction:column;font-family:var(--font-family);font-size:var(--font-M);height:100%;line-height:var(--base-line-height);margin:auto;padding:0;text-wrap:pretty;--font-family: var(--font-default);--font-custom-body: var(--font-family);--font-custom-headlines: var(--font-custom-body);--font-custom-headlines-weight: 700;--font-custom-meta: var(--font-custom-body);--light-color-variable-bg: 255, 255, 255;--light-color-variable-txt: 30, 30, 30;--light-color-variable-primary: 37, 99, 235;--dark-color-variable-bg: 0, 0, 0;--dark-color-variable-txt: 215, 215, 215;--dark-color-variable-primary: 96, 165, 250;--color-bg: rgba(var(--light-color-variable-bg), 1);--color-txt: rgba(var(--light-color-variable-txt), 1);--color-txt-light: rgba(var(--light-color-variable-txt), 0.65);--color-txt-lighter: rgba(var(--light-color-variable-txt), 0.4);--color-bg-input: rgba(var(--light-color-variable-txt), 0.025);--color-bg-light: rgba(var(--light-color-variable-txt), 0.05);--color-border: rgba(var(--light-color-variable-txt), 0.2);--color-txt-on-primary: rgba(var(--light-color-variable-bg), 1);--color-primary: rgba(var(--light-color-variable-primary));--color-primary-light: rgba(var(--light-color-variable-primary), 0.1);--color-error: hsl(0, 85%, 50%);--color-modal-backdrop: rgba(255, 255, 255, 0.8);--color-shadow: rgba(0, 0, 0, .05);--big-shadow: 0 4px 8px var(--color-shadow), 0 8px 32px var(--color-shadow), 0 32px 64px -8px var(--color-shadow);--lil-shadow: 0 1px 3px var(--color-shadow)}
body.in-dark-mode{--light-color-variable-bg: var(--dark-color-variable-bg);--light-color-variable-txt: var(--dark-color-variable-txt);--light-color-variable-primary: var(--dark-color-variable-primary);--color-bg-input: rgba(var(--dark-color-variable-txt), 0.05);--color-bg-light: rgba(var(--dark-color-variable-txt), 0.1);--color-modal-backdrop: rgba(50, 50, 50, 0.8);--color-shadow: rgba(0, 0, 0, 0.3)}
@media (prefers-color-scheme: dark){body:not(.in-light-mode){--light-color-variable-bg: var(--dark-color-variable-bg);--light-color-variable-txt: var(--dark-color-variable-txt);--light-color-variable-primary: var(--dark-color-variable-primary);--color-bg-input: rgba(var(--dark-color-variable-txt), 0.05);--color-bg-light: rgba(var(--dark-color-variable-txt), 0.1);--color-modal-backdrop: rgba(50, 50, 50, 0.8);--color-shadow: rgba(0, 0, 0, 0.3)}
}
a,.button-like-link{color:var(--color-primary);display:inline-block;text-decoration:underline;text-decoration-thickness:1px;text-underline-offset:2px}
@media (pointer: fine){a:active,.button-like-link:active{transform:translateY(1px)}
a:active:focus,.button-like-link:active:focus{outline:none}
}
h1,h2,h3,h4,h5,h6{font-family:var(--font-family);font-weight:700}
.site-view{font-family:var(--font-custom-body);font-size:var(--base-font-size);max-width:var(--width-M);padding-inline:var(--space-M);width:100%}
.site-view h1,.site-view h2,.site-view h3,.site-view h4,.site-view h5,.site-view h6{font-family:var(--font-custom-headlines);font-weight:var(--font-custom-headlines-weight)}
h1{font-size:var(--font-2XL);letter-spacing:-0.33px;line-height:calc(var(--base-line-height) * 0.8);margin-block:1em}
h2{font-size:var(--font-L);line-height:calc(var(--base-line-height) * 0.9)}
h3,h4,h5,h6{font-size:inherit;line-height:inherit}
h2,h3,h4,h5,h6{margin-block:1.5em 0.5em}
h2+*,h3+*,h4+*,h5+*,h6+*{margin-top:0 !important}
p{margin-block:calc(var(--base-font-size) * var(--base-line-height))}
ul,ol{margin-block:calc(var(--base-font-size) * var(--base-line-height));padding-left:2rem}
ul ul,ul ol,ol ul,ol ol{margin-block:0}
ul p:first-of-type,ol p:first-of-type{margin-top:0}
ul p:last-of-type,ol p:last-of-type{margin-bottom:0}
blockquote{background-color:var(--color-bg-light);border-radius:var(--border-radius);margin:calc(var(--base-font-size) * var(--base-line-height)) 0;padding:var(--space-L)}
blockquote p:first-of-type,blockquote ol:first-of-type,blockquote ul:first-of-type{margin-top:0}
blockquote p:last-of-type,blockquote ol:last-of-type,blockquote ul:last-of-type{margin-bottom:0}
dl dt{font-weight:600;margin-top:1em}
dl dd{margin:0;padding:0}
small{display:inline-block;font-size:var(--font-S);line-height:calc(var(--base-line-height) * 0.9)}
code{background-color:var(--color-bg-light);border-radius:var(--border-radius);font-family:monospace;font-size:0.9em;padding:var(--space-3XS) var(--space-2XS)}
pre{background-color:var(--color-bg-light);border-radius:var(--border-radius);overflow:auto;padding:var(--space-S)}
pre code{background-color:transparent;padding:0}
hr{background-color:var(--color-border);border:0;height:1px;margin:var(--space-XL) 0;width:100%}
img{display:block;height:auto;max-width:100%;object-fit:contain}
iframe,video{aspect-ratio:16 / 10;background:transparent;border:0;display:block;max-width:100%;width:100%}
iframe.walkthrough-embed,video.walkthrough-embed{aspect-ratio:650 / 426;border:1px solid var(--color-border);border-radius:var(--space-S);box-shadow:var(--big-shadow)}
iframe.letterbird-embed,video.letterbird-embed{aspect-ratio:auto !important;max-width:100% !important}
:focus{outline:2px solid var(--color-primary)}
@media (pointer: coarse){*{outline:none !important}
}
.turbo-progress-bar{background-color:var(--color-primary) !important}
.color-theme-default{--light-color-variable-bg: 255, 255, 255;--light-color-variable-txt: 30, 30, 30;--light-color-variable-primary: 37, 99, 235;--dark-color-variable-bg: 0, 0, 0;--dark-color-variable-txt: 215, 215, 215;--dark-color-variable-primary: 96, 165, 250}
.color-theme-beach{--light-color-variable-bg: 255, 252, 245;--light-color-variable-txt: 40, 59, 67;--light-color-variable-primary: 4, 134, 162;--dark-color-variable-bg: 40, 59, 67;--dark-color-variable-txt: 255, 250, 240;--dark-color-variable-primary: 79, 201, 228}
.color-theme-gameboy{--light-color-variable-bg: 228, 233, 226;--light-color-variable-txt: 31, 81, 56;--light-color-variable-primary: 31, 81, 56;--dark-color-variable-bg: 25, 28, 26;--dark-color-variable-txt: 199, 209, 205;--dark-color-variable-primary: 199, 209, 205}
.color-theme-grayscale{--light-color-variable-bg: 243, 243, 243;--light-color-variable-txt: 60, 60, 60;--light-color-variable-primary: var(--light-color-variable-txt);--dark-color-variable-bg: 20, 20, 20;--dark-color-variable-txt: 215, 215, 215;--dark-color-variable-primary: var(--dark-color-variable-txt)}
.color-theme-halloween{--light-color-variable-bg: 246, 238, 233;--light-color-variable-txt: 47, 47, 47;--light-color-variable-primary: 252, 92, 14;--dark-color-variable-bg: 10, 10, 10;--dark-color-variable-txt: 240, 240, 240;--dark-color-variable-primary: 252, 92, 14}
.color-theme-notepad{--light-color-variable-bg: 253, 247, 237;--light-color-variable-txt: 58, 36, 18;--light-color-variable-primary: 210, 150, 0;--dark-color-variable-bg: 33, 19, 8;--dark-color-variable-txt: 241, 225, 205;--dark-color-variable-primary: 235, 170, 7}
.color-theme-sonnet{--light-color-variable-bg: 255, 242, 240;--light-color-variable-txt: 62, 62, 62;--light-color-variable-primary: 224, 36, 0;--dark-color-variable-bg: 27, 6, 7;--dark-color-variable-txt: 215, 215, 215;--dark-color-variable-primary: 253, 98, 98}
.font-theme-default{--font-custom-body: var(--font-default);--font-custom-headlines: var(--font-custom-body);--font-custom-headlines-weight: 700;--font-custom-meta: var(--font-custom-body)}
.font-theme-barry{--font-custom-body: var(--font-source-serif);--font-custom-headlines: var(--font-default);--font-custom-headlines-weight: 800;--font-custom-meta: var(--font-custom-body)}
.font-theme-franklin-gothic{--font-custom-body: var(--font-franklin);--font-custom-headlines: var(--font-custom-body);--font-custom-headlines-weight: 700;--font-custom-meta: var(--font-custom-body)}
.font-theme-garamond{--font-custom-body: var(--font-garamond);--font-custom-headlines: var(--font-custom-body);--font-custom-headlines-weight: 800;--font-custom-meta: var(--font-custom-body);--base-font-size: 20px}
.font-theme-ibm-plex{--font-custom-body: var(--font-ibm-plex-sans);--font-custom-headlines: var(--font-custom-body);--font-custom-headlines-weight: 700;--font-custom-meta: var(--font-custom-body)}
.font-theme-monospace{--font-custom-body: var(--font-ibm-plex-mono);--font-custom-headlines: var(--font-custom-body);--font-custom-headlines-weight: 700;--font-custom-meta: var(--font-custom-body);--base-font-size: 16px}
.flexbox{align-items:center;display:flex;flex-wrap:wrap;gap:var(--space-XS)}
.avatar{aspect-ratio:1 / 1;border-radius:var(--border-radius);display:inline-block;object-fit:cover;position:relative;vertical-align:middle}
.avatar.transparent-avatar{border-radius:0;object-fit:contain}
#flash{margin:0 auto calc(-1 * var(--space-M));position:sticky;text-align:center;top:var(--space-3XS);z-index:1000}
#flash:empty{display:none}
#flash .flash-default{background-clip:padding-box;background-color:var(--color-bg);border:1px solid var(--color-border);border-radius:var(--border-radius);box-shadow:var(--lil-shadow);display:inline-block;font-size:var(--font-S);line-height:1.3;margin:var(--space-S) var(--space-M) 0;max-width:var(--width-S);padding:var(--space-XS) var(--space-S);pointer-events:all;user-select:all}
#flash .flash-default:before{padding-right:var(--space-3XS)}
#flash .flash-default.flash-awesome:before{content:"🙌 "}
#flash .flash-default.flash-success:before{content:"👍 "}
#flash .flash-default.flash-danger:before{content:"🤔 "}
#flash .flash-default.flash-welcome:before{content:"👋 "}
#flash .flash-default a{display:inline;overflow-wrap:break-word;word-break:break-word;word-wrap:break-word}
#infinite-scroll{color:var(--color-txt-light);display:block;font-size:var(--font-S);margin-top:var(--space-L);text-align:center}
#infinite-scroll i{animation:spin 0.5s infinite;color:var(--color-primary)}
@media (prefers-reduced-motion){#infinite-scroll i{animation:none}
}
@keyframes spin{from{rotate:0deg}
to{rotate:360deg}
}
.pagination>span{cursor:pointer}
.pagination>span.active{cursor:default}
.pagination>span.disabled{cursor:not-allowed;opacity:0.5}
.pro-flag{align-items:center;background-color:var(--color-txt);border-radius:var(--space-2XS);color:var(--color-bg);cursor:inherit;display:inline-flex;font-size:11px;font-weight:500;height:18px;justify-content:center;letter-spacing:0.33px;line-height:1;margin-top:-3px;padding:1px var(--space-2XS) 0;text-transform:uppercase;user-select:none;vertical-align:middle}
h1 .pro-flag{font-size:16px;height:24px;text-indent:1px}
form{font-family:var(--font-family)}
fieldset,legend{border:0;margin:0;padding:0}
.field{margin-bottom:var(--space-L)}
.field.submit{align-items:center;display:flex;flex-wrap:wrap;gap:var(--space-XS);margin-bottom:0}
.checkbox-radio-label{cursor:pointer;display:inline-flex;gap:var(--space-XS);line-height:1.3}
.checkbox-radio-label:has(input[disabled]){color:var(--color-txt-light);cursor:not-allowed;opacity:0.5}
.checkbox-radio-label:has(input[disabled]) input{opacity:1}
.checkbox-radio-label:has(input[disabled]) .pro-flag{border-color:var(--color-txt-light)}
.color-label{align-items:center;cursor:pointer;display:flex;gap:var(--space-XS);white-space:nowrap;width:min-content}
.form-label{cursor:default;display:block;font-weight:600;line-height:1.3;margin-bottom:var(--space-2XS)}
.form-label small{color:var(--color-txt-light);font-weight:400}
.form-label small:not(.required){display:block}
.form-label small.required{display:inline-block;font-size:var(--font-XS);margin-left:var(--space-3XS)}
.field-explanation{color:var(--color-txt-light);display:block;margin-top:var(--space-2XS)}
.error-msg{color:var(--color-error);font-size:var(--font-S);line-height:1.4;padding-top:var(--space-3XS)}
.field_with_errors{width:100%}
.address-input-wrapper{align-items:baseline;background-color:var(--color-bg-input);border:1px solid var(--color-border);border-radius:var(--border-radius);caret-color:var(--color-primary);color:var(--color-txt);cursor:text;display:flex;gap:1px;height:var(--space-2XL);outline-offset:-1px;overflow:hidden;position:relative;width:100%}
.address-input-wrapper:has(input[type="text"]:focus){outline:2px solid var(--color-primary)}
.address-input-wrapper label{color:var(--color-txt-light);cursor:text;line-height:1;padding-inline:var(--space-XS) 0;user-select:none}
.address-input-wrapper input[type="text"]{background-color:transparent;border:0;padding-inline:0 var(--space-XS)}
.address-input-wrapper input[type="text"]:focus{outline:none}
.address-input-wrapper .field_with_errors:first-of-type{width:auto}
input[type="text"],input[type="email"],input[type="password"],input[type="search"],input[type="date"],input[type="datetime-local"],input[type="file"],textarea,select{background-clip:padding-box;background-color:var(--color-bg-input);border:1px solid var(--color-border);border-radius:var(--border-radius);caret-color:var(--color-primary);color:var(--color-txt);display:block;font-family:var(--font-family);height:var(--space-2XL);line-height:var(--base-line-height);outline-offset:-1px;padding:0 var(--space-XS);width:100%}
input[type="text"][readonly],input[type="text"][disabled],input[type="email"][readonly],input[type="email"][disabled],input[type="password"][readonly],input[type="password"][disabled],input[type="search"][readonly],input[type="search"][disabled],input[type="date"][readonly],input[type="date"][disabled],input[type="datetime-local"][readonly],input[type="datetime-local"][disabled],input[type="file"][readonly],input[type="file"][disabled],textarea[readonly],textarea[disabled],select[readonly],select[disabled]{background-color:var(--color-bg-light)}
input[type="text"]::placeholder,input[type="email"]::placeholder,input[type="password"]::placeholder,input[type="search"]::placeholder,input[type="date"]::placeholder,input[type="datetime-local"]::placeholder,input[type="file"]::placeholder,textarea::placeholder,select::placeholder{color:var(--color-txt-light);opacity:0.8}
.select-wrapper{position:relative}
.select-wrapper select{appearance:none;cursor:pointer;padding-right:var(--space-XL)}
.select-wrapper .fa-chevron-down{align-items:center;display:flex;font-size:var(--font-XS);height:100%;justify-content:center;pointer-events:none;position:absolute;right:var(--space-XS);top:0;user-select:none;z-index:1}
option{background-color:var(--color-bg)}
input[type="date"],input[type="datetime-local"]{appearance:none;display:flex}
input[type="date"]::-webkit-date-and-time-value,input[type="datetime-local"]::-webkit-date-and-time-value{text-align:left}
input[type="file"]{cursor:pointer;padding-left:0}
textarea{height:auto;padding-block:calc(var(--space-XS) - 1px);resize:vertical}
textarea[data-controller="auto-expanding-textarea"]{overflow:hidden;resize:none}
input[type="checkbox"],input[type="radio"]{accent-color:var(--color-primary);aspect-ratio:1 / 1;cursor:pointer;display:inline-block;height:var(--font-S);margin:0.2em 0 0;padding:0;vertical-align:top;width:var(--font-S)}
input[type="radio"]{border-radius:100px}
input[type="color"]{background-clip:padding-box;background-color:var(--color-bg-input);border:1px solid var(--color-border);border-radius:var(--border-radius);cursor:pointer;height:var(--space-2XL);outline-offset:-1px;overflow:hidden;padding:2px;width:var(--space-2XL)}
input[type="color"]::-webkit-color-swatch-wrapper{padding:0}
input[type="color"]::-webkit-color-swatch{border:0;border-radius:calc(var(--border-radius) - 2px)}
input[type="submit"],button{appearance:none;background-color:transparent;border:0;color:inherit;cursor:pointer;margin:0;padding:0}
@media (pointer: fine){input[type="submit"]:active,button:active{transform:translateY(1px)}
input[type="submit"]:active:focus,button:active:focus{outline:none}
}
.button,input.button[type="submit"]{align-items:center;background-color:var(--color-primary);background-image:none;border-radius:100px;color:var(--color-txt-on-primary);cursor:pointer;display:inline-flex;font-family:var(--font-family);font-weight:600;gap:var(--space-2XS);height:var(--space-2XL);justify-content:center;line-height:var(--base-line-height);outline-offset:-1px;padding:0 var(--space-L);text-decoration:none !important;white-space:nowrap}
@media (max-width: 479px){.button,input.button[type="submit"]{display:flex;width:100%}
}
@container (max-width: 479px){.button,input.button[type="submit"]{width:100%}
}
.button.button-full,input.button.button-full[type="submit"]{width:100% !important}
.button.button-no-full,input.button.button-no-full[type="submit"]{display:inline-flex;max-width:100% !important;width:auto !important}
.button:focus:not(.button-quiet),input.button[type="submit"]:focus:not(.button-quiet){outline-offset:1px}
.button.button-quiet,input.button.button-quiet[type="submit"]{background-color:var(--color-bg-input);background-image:none;border:1px solid var(--color-border);color:var(--color-txt);font-weight:400}
.button.button-danger,input.button.button-danger[type="submit"]{background-color:var(--color-error);background-image:none;color:#fff}
.button.button-S,input.button.button-S[type="submit"]{font-size:var(--font-S);height:var(--space-XL);line-height:1;padding-inline:var(--space-M)}
.button>i,input.button[type="submit"]>i{line-height:inherit !important}
::file-selector-button,::-webkit-file-upload-button{background-color:var(--color-bg-light);border:0;border-radius:0;border-right:1px solid var(--color-border);color:var(--color-txt);cursor:pointer;font-family:inherit;font-size:inherit;font-weight:inherit;height:100%;line-height:1;margin-right:var(--space-S);padding:0 var(--space-M);pointer-events:none;position:relative;z-index:1}
:disabled,[disabled]{cursor:not-allowed;opacity:0.5;text-decoration:none !important}
.modal{align-items:flex-start;backdrop-filter:blur(var(--space-2XS));background-color:var(--color-modal-backdrop);border:0;color:inherit;display:none;height:100%;left:0;overflow:auto;padding:var(--space-XS);position:fixed;top:0;width:100%;z-index:1}
.modal-content{background-clip:padding-box;background-color:var(--color-bg);border:1px solid var(--color-border);border-radius:var(--space-S);box-shadow:var(--big-shadow);margin:5% auto;max-width:var(--width-S);padding:var(--space-L);position:relative;width:100%}
.modal-close{background-color:var(--color-bg);border-radius:1000px;color:var(--color-primary);font-size:var(--font-XL);outline-offset:1px;position:absolute;right:calc(-1 * var(--space-XS));top:calc(-1 * var(--space-XS))}
.modal-close>i{display:block}
.popover{display:inline-flex;padding:0;position:relative}
.popover summary:not(.button){cursor:pointer;display:inline-flex;margin:0}
.popover summary::-webkit-details-marker,.popover summary::marker{display:none;font-size:0;margin:0;opacity:0;padding:0}
.popover summary:active{transform:translateY(1px)}
.popover-dialog{background-clip:padding-box;background-color:var(--color-bg);border:1px solid var(--color-border);border-radius:var(--space-XS);box-shadow:var(--big-shadow);color:var(--color-txt);display:flex;flex-direction:column;font-size:var(--font-M);justify-content:flex-start;max-width:400px;padding:var(--space-S) var(--space-M);position:absolute;text-align:left;top:calc(100% + var(--space-2XS));z-index:3}
.popover-dialog.popover-dialog__left{left:0}
.popover-dialog.popover-dialog__right{right:0}
.popover-dialog__list{margin:calc(-1 * var(--space-2XS)) calc(-1 * var(--space-S))}
.popover-dialog__list hr{margin-inline:calc(-1 * var(--space-2XS));width:auto}
.popover-dialog__list span,.popover-dialog__list button,.popover-dialog__list a{align-items:center;border-radius:var(--space-2XS);color:inherit;display:flex;gap:var(--space-XS);overflow-x:hidden;padding-inline:var(--space-S);text-decoration:none}
.popover-dialog__list button,.popover-dialog__list a{font-weight:400;line-height:1.3;padding-block:var(--space-XS);padding-inline:var(--space-S) var(--space-2XL);user-select:none;white-space:nowrap;width:100%}
.popover-dialog__list button>span,.popover-dialog__list a>span{margin-right:var(--space-2XL)}
@media (pointer: fine){.popover-dialog__list button:hover,.popover-dialog__list a:hover{background-color:var(--color-primary);color:var(--color-txt-on-primary)}
}
.popover-dialog__list button.red-link,.popover-dialog__list a.red-link{color:var(--color-error)}
@media (pointer: fine){.popover-dialog__list button.red-link:hover,.popover-dialog__list a.red-link:hover{background-color:var(--color-error);color:var(--color-txt-on-primary)}
}
.popover-dialog__list form.button_to button{width:100%}
.popover-editor summary{padding-inline:0;width:var(--space-2XL)}
main{flex:1;width:100%}
.wrapper-S,.wrapper-M,.wrapper-L,.wrapper-XL,.wrapper-2XL{margin:var(--space-2XL) auto var(--space-4XL);padding-inline:var(--space-M)}
.wrapper-S{max-width:var(--width-S)}
.wrapper-M{max-width:var(--width-M)}
.wrapper-L{max-width:var(--width-L)}
.wrapper-XL{max-width:var(--width-XL)}
.header{font-family:var(--font-family);line-height:1.3;margin:var(--space-M) var(--space-M) 0}
.nav{align-items:center;display:flex;flex-wrap:wrap;gap:var(--space-2XS);justify-content:space-between}
.nav .left-side .header-title-link{align-items:center;color:inherit;display:inline;font-weight:700;gap:var(--space-2XS);text-decoration:none;text-transform:uppercase}
.nav .left-side .header-title-link img{display:inline;margin:-2em var(--space-3XS) -1.8em 0;vertical-align:middle;width:1.5em}
.nav .left-side .fa-tilde{margin-inline:var(--space-2XS)}
.nav .left-side .header-blog-link{display:inline}
.nav .left-side .header-blog-link img{margin:-2em var(--space-2XS) -1.8em 0;width:1.5em}
.nav .right-side a{white-space:nowrap}
.nav .right-side a:not(:last-of-type){margin-right:var(--space-2XS)}
@media (min-width: 600px){.nav .right-side a:not(:last-of-type){margin-right:var(--space-XS)}
}
.footer{align-items:flex-start;color:var(--color-txt-light);display:flex;flex-direction:row;flex-shrink:0;flex-wrap:wrap;font-size:var(--font-S);gap:var(--space-2XS);justify-content:space-between;padding:var(--space-M)}
.footer ul{display:flex;flex-wrap:wrap;list-style:none;margin:0;padding:0}
.footer ul li{margin-right:var(--space-S)}
.safe-area-div{padding-bottom:env(safe-area-inset-bottom)}
.admin-header{display:flex;flex-wrap:wrap;gap:var(--space-L);justify-content:space-between;margin-bottom:var(--space-XL)}
.admin-stats-table{display:flex;justify-content:space-between;line-height:1.3;white-space:nowrap;width:100%}
.admin-stats-table>div{width:33.33%}
.admin-stats-table h2{margin:0}
@media (min-width: 800px){.admin-stats-table{gap:var(--space-3XL);text-align:center;width:auto}
}
.admin-users-table{max-width:100%;overflow:auto}
.admin-users-table table{font-variant-numeric:tabular-nums;line-height:1.1;margin-top:var(--space-M);text-align:left;width:100%}
.admin-users-table table th,.admin-users-table table td{padding:var(--space-XS);width:1px}
.admin-users-table table th:not(:last-of-type),.admin-users-table table td:not(:last-of-type){padding-right:var(--space-M)}
.admin-users-table table th{font-weight:600;white-space:nowrap}
.admin-users-table table th a,.admin-users-table table th .button-like-link{color:inherit;text-decoration:none}
@media (pointer: fine){.admin-users-table table th a:hover,.admin-users-table table th .button-like-link:hover{text-decoration:underline;text-decoration-thickness:1px;text-underline-offset:2px}
}
.admin-users-table table th .fa-regular{color:var(--color-primary)}
.admin-users-table table tr:nth-child(odd) td{background-color:var(--color-bg-light)}
.admin-users-table table tbody tr:hover{outline:2px solid var(--color-primary)}
.admin-users-table table tbody tr:hover td{background-color:var(--color-primary-light)}
.admin-users-table .fa-bullhorn{color:var(--color-primary)}
.dashboard-header{align-items:flex-start;box-shadow:inset 0 -1px 0 var(--color-border);display:flex;gap:var(--space-S);margin-bottom:var(--space-L);overflow-x:auto;overflow-y:hidden;position:relative}
.dashboard-header h1{margin:0;white-space:nowrap}
.dashboard-header h1.selected>span{border-color:var(--color-txt-headline)}
.dashboard-header h1>span{border-bottom:3px solid transparent;display:inline-block;padding:0 var(--space-3XS) var(--space-XS)}
.dashboard-header h1 a{border-bottom:3px solid transparent;color:var(--color-txt-lighter);font-weight:400;outline-offset:-2px;padding:0 var(--space-3XS) var(--space-XS);text-decoration:none}
@media (pointer: fine){.dashboard-header h1 a:hover{border-color:var(--color-primary);color:var(--color-primary);opacity:1}
}
@media (min-width: 480px){.dashboard-button{margin-top:calc(-1 * var(--space-4XL) - var(--space-XS));position:absolute;right:var(--space-M);z-index:1}
}
.list-of-navigation-items,.list-of-posts,.list-of-draft-posts,.list-of-pages,.site-list-of-posts,.feed-list-of-posts{list-style:none;padding:0}
.list-of-navigation-items li,.list-of-posts li,.list-of-draft-posts li,.list-of-pages li,.site-list-of-posts li,.feed-list-of-posts li{align-items:baseline;display:grid;gap:1ch;grid-template-columns:1fr min-content min-content;line-height:calc(var(--base-line-height) * 0.9)}
.list-of-navigation-items li:not(:first-of-type),.list-of-posts li:not(:first-of-type),.list-of-draft-posts li:not(:first-of-type),.list-of-pages li:not(:first-of-type),.site-list-of-posts li:not(:first-of-type),.feed-list-of-posts li:not(:first-of-type){margin-top:var(--space-S)}
.list-of-navigation-items time,.list-of-posts time,.list-of-draft-posts time,.list-of-pages time,.site-list-of-posts time,.feed-list-of-posts time{color:var(--color-txt-light);white-space:nowrap}
.list-of-navigation-items .post-link a,.list-of-navigation-items .page-link a,.list-of-posts .post-link a,.list-of-posts .page-link a,.list-of-draft-posts .post-link a,.list-of-draft-posts .page-link a,.list-of-pages .post-link a,.list-of-pages .page-link a,.site-list-of-posts .post-link a,.site-list-of-posts .page-link a,.feed-list-of-posts .post-link a,.feed-list-of-posts .page-link a{display:inline}
.list-of-navigation-items li{background-color:var(--color-bg);grid-template-columns:min-content 1fr min-content min-content}
.list-of-navigation-items.has-items{margin-bottom:var(--space-2XL)}
.list-of-navigation-items .handle{color:var(--color-txt);cursor:move}
.list-of-navigation-items:has([draggable="true"]) .handle{cursor:default}
.list-of-posts li,.list-of-draft-posts li{grid-template-columns:7ch 1fr min-content}
.list-of-draft-posts{border-bottom:1px dashed var(--color-border);padding-bottom:var(--space-M)}
.list-of-draft-posts li{grid-template-columns:7ch 1fr}
.list-of-draft-posts .draft-status{color:var(--color-txt-light)}
.site-list-of-posts li,.feed-list-of-posts li{grid-template-columns:7ch 1fr}
.site-list-of-posts .avatar,.feed-list-of-posts .avatar{border-radius:var(--border-radius);margin-top:calc(-1 * var(--space-2XS))}
.navigation-list-headline{border-bottom:1px dashed var(--color-border);font-size:var(--font-S);font-weight:600;line-height:0;margin-block:var(--space-XL) var(--space-L);text-align:center}
.navigation-list-headline>span{background-color:var(--color-bg);padding-inline:var(--space-XS)}
.navigation-list-headline:has(+.list-of-navigation-items:not(.has-items)),.navigation-list-headline+.list-of-navigation-items:empty{display:none}
.publish-celebrate{background-clip:padding-box;background-color:var(--color-bg);border:1px solid var(--color-border);border-radius:var(--space-XS);box-shadow:var(--big-shadow);gap:var(--space-XS);justify-content:center;line-height:calc(var(--base-line-height) * 0.9);margin-block:calc(-1 * var(--space-M)) var(--space-L);padding:var(--space-L);position:relative;text-align:center}
@media (prefers-color-scheme: dark){.publish-celebrate{background-color:var(--color-bg-light)}
}
.publish-celebrate img{margin-inline:auto;width:140px}
.publish-celebrate .publish-celebrate-msg{font-size:var(--font-L);margin:var(--space-XS) auto;max-width:20em}
.publish-celebrate .dismiss-publish-celebrate{font-size:var(--font-L);position:absolute;right:var(--space-XS);top:var(--space-2XS)}
.custom-css-textarea{font-family:monospace;font-size:var(--font-S);overflow:auto !important;overflow-scroll:contain !important}
[data-theme-picker-target="themeexample"] .font-theme-garamond .theme-example{font-size:20px}
[data-theme-picker-target="themeexample"] .font-theme-monospace .theme-example{font-size:16px}
.theme-example{border:1px solid var(--color-border);border-radius:var(--space-XS);box-shadow:var(--lil-shadow);cursor:pointer;display:grid;font-family:var(--font-custom-body);font-size:calc(var(--base-font-size) * 0.9);margin-bottom:var(--space-XS);overflow:hidden;position:relative;z-index:1}
@media (min-width: 600px){.theme-example{font-size:var(--base-font-size);grid-template-columns:50% 50%}
}
.theme-example>input[type="radio"]{font-size:var(--font-L);left:var(--space-XS);margin:0;outline:none;position:absolute;top:var(--space-XS)}
.theme-example:has(input[type="radio"]:checked){border-color:var(--color-primary)}
.theme-example:has(input[type="radio"]:focus){outline:1px solid var(--color-primary)}
.theme-example>div{background-color:var(--preview-color-bg);color:var(--preview-color-txt);padding:var(--space-L)}
.theme-example>div.in-light-mode{--preview-color-bg: rgba(var(--light-color-variable-bg), 1);--preview-color-txt: rgba(var(--light-color-variable-txt), 1);--preview-color-primary: rgba(var(--light-color-variable-primary))}
.theme-example>div.in-dark-mode{--preview-color-bg: rgba(var(--dark-color-variable-bg), 1);--preview-color-txt: rgba(var(--dark-color-variable-txt), 1);--preview-color-primary: rgba(var(--dark-color-variable-primary))}
.theme-example>div>*{pointer-events:none;user-select:none}
.theme-example>div>*:first-child{margin-top:0}
.theme-example>div>*:last-child{margin-bottom:0}
.theme-example h3{color:var(--preview-color-txt);font-family:var(--font-custom-headlines);font-size:var(--font-L);font-weight:var(--font-custom-headlines-weight)}
.theme-example a{color:var(--preview-color-primary);display:inline}
.color-custom-picker .color-theme-custom-pickers{background-color:var(--color-bg-light);border-radius:0 0 var(--space-XS) var(--space-XS);display:none;margin-bottom:var(--space-S)}
@media (min-width: 600px){.color-custom-picker .color-theme-custom-pickers{grid-template-columns:50% 50%}
.color-custom-picker .color-theme-custom-pickers div+div{box-shadow:-1px 0 0 0 var(--color-border) !important}
}
.color-custom-picker .color-theme-custom-pickers div{padding:var(--space-L)}
.color-custom-picker .color-theme-custom-pickers div+div{box-shadow:0 -1px 0 0 var(--color-border)}
.color-custom-picker .theme-example h3{color:inherit}
.color-custom-picker.wants-custom .theme-example{margin-bottom:calc(-1 * var(--space-XS))}
.color-custom-picker.wants-custom .color-theme-custom-pickers{display:grid}
.editor-form{display:flex;flex:1;flex-direction:column}
.editor-form .headline-field,.editor-form .editor-field{font-size:var(--base-font-size)}
.wrapper-editor{margin-top:var(--space-L);order:2}
@media (min-width: 700px){.wrapper-editor{margin-top:calc(var(--space-4XL) + var(--space-4XL))}
}
.editor-form-submit{align-items:center;background-clip:padding-box;background-color:var(--color-bg);display:flex;flex-direction:column;gap:var(--space-XS);margin:env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);order:1;padding:var(--space-S) var(--space-S) 0}
.editor-form-submit>div{display:flex;gap:var(--space-XS);width:100%}
@media (min-width: 480px){.editor-form-submit{align-items:center;flex-direction:row-reverse;height:var(--space-4XL);justify-content:space-between;padding-block:0;z-index:2}
.editor-form-submit>div{width:auto}
}
@media (min-width: 700px){.editor-form-submit{background:transparent;left:0;position:fixed;right:0;top:0;z-index:3}
}
textarea.headline-input{background:transparent;border-radius:0;border-width:0;caret-color:var(--color-primary);font-family:var(--font-custom-headlines);font-size:var(--font-2XL);font-weight:var(--font-custom-headlines-weight);height:auto;letter-spacing:-0.33px;line-height:calc(var(--base-line-height) * 0.8);min-height:60px;outline:none;overflow:hidden;padding-inline:0;resize:none}
body:has(.prosemirror-dropcursor-block) .rhino-editor,body:has(.prosemirror-dropcursor-inline) .rhino-editor{background-color:var(--color-primary-light) !important;outline:var(--space-3XS) dashed var(--color-primary) !important}
body:has(.prosemirror-dropcursor-block) .prosemirror-dropcursor-block,body:has(.prosemirror-dropcursor-block) .prosemirror-dropcursor-inline,body:has(.prosemirror-dropcursor-inline) .prosemirror-dropcursor-block,body:has(.prosemirror-dropcursor-inline) .prosemirror-dropcursor-inline{background-color:var(--color-primary) !important}
.rhino-editor{background-color:var(--color-bg-input);border:1px solid var(--color-border);border-radius:var(--border-radius);outline-offset:1px}
.rhino-editor:focus-within{outline:2px auto var(--color-primary)}
.rhino-editor .trix-content{font-size:var(--base-font-size);min-height:10rem;padding:var(--space-XS)}
.rhino-editor .has-focus{caret-color:var(--color-primary)}
.rhino-editor::part(toolbar){background-color:var(--color-bg);border:0;border-bottom:1px solid var(--color-border);border-top-left-radius:var(--border-radius);border-top-right-radius:var(--border-radius);padding:0;position:sticky;top:-1px;z-index:2}
.rhino-editor::part(toolbar):hover{z-index:4}
.wrapper-editor .rhino-editor{background-color:transparent;border:0;border-radius:0;outline:none}
.wrapper-editor .rhino-editor .trix-content{padding-inline:0}
.wrapper-editor .rhino-editor::part(toolbar){border:1px solid var(--color-border);border-radius:0}
@media (min-width: 700px){.wrapper-editor .rhino-editor .trix-content{padding-block:0}
.wrapper-editor .rhino-editor::part(toolbar){background-color:transparent;border-width:0;opacity:0.3;pointer-events:none;position:fixed;top:var(--space-4XL);width:calc(var(--width-M) - var(--space-M) - var(--space-M))}
.wrapper-editor .rhino-editor:is(:focus-within)::part(toolbar){opacity:1;pointer-events:all}
.wrapper-editor .rhino-editor::part(toolbar__base){background-color:transparent;padding:var(--space-2XS) 0}
.wrapper-editor:before{background-color:var(--color-bg);content:"";height:calc(var(--space-4XL) + var(--space-2XL) - 1px);left:0;position:fixed;right:0;top:0;width:100%;z-index:1}
.wrapper-editor:after{background-color:var(--color-bg-input);border-bottom:1px solid var(--color-border);border-top:1px solid var(--color-border);content:"";height:var(--space-2XL);left:0;position:fixed;right:0;top:var(--space-4XL);width:100%;z-index:1}
.wrapper-editor .rhino-editor::part(link-dialog){position:fixed;top:calc(var(--space-4XL) + var(--space-2XL))}
}
.rhino-editor::part(toolbar__base){background-color:var(--color-bg-input);border:0;gap:var(--space-3XS);padding:var(--space-3XS)}
.rhino-editor::part(toolbar__button){align-items:center;background-color:transparent;border:0;border-radius:var(--border-radius);color:var(--color-txt-light);display:flex;justify-content:center;outline-offset:-1px;padding:var(--space-2XS)}
.rhino-editor::part(toolbar__button):hover,.rhino-editor::part(toolbar__button):focus{box-shadow:none;outline:1px solid var(--color-primary)}
.rhino-editor::part(toolbar__button--active){background-color:var(--color-primary-light);color:var(--color-primary)}
.rhino-attachment-editor::part(delete-button){background-color:var(--color-primary);border:0;bottom:auto;box-shadow:var(--lil-shadow);color:var(--color-txt-on-primary);left:auto;padding:0;right:var(--space-2XS);top:var(--space-2XS);transform:none}
.rhino-attachment-editor::part(file-metadata){display:none}
.rhino-editor::part(link-dialog){background-clip:padding-box;background-color:var(--color-bg);border:1px solid var(--color-border);border-radius:var(--space-XS);box-shadow:var(--big-shadow);display:flex;height:min-content;margin-top:var(--space-3XS);max-width:var(--width-S);padding:var(--space-XS)}
.rhino-editor::part(link-dialog__container){background-color:transparent;border:0;box-shadow:none;display:flex;gap:var(--space-2XS);max-width:var(--width-S);padding:0;width:100%}
.rhino-editor::part(link-dialog__input){background-color:var(--color-bg-input);border-color:var(--color-border);border-radius:var(--border-radius);height:var(--space-XL);outline-offset:-1px;padding:0 var(--space-XS);width:100%}
.rhino-editor::part(link-dialog__input):is(:focus){border-color:inherit;outline:2px solid var(--color-primary)}
.rhino-editor::part(link-dialog__input--invalid){border-color:var(--color-error) !important}
.rhino-editor::part(link-dialog__input--invalid):is(:focus){border-color:inherit;outline:2px solid var(--color-error)}
.rhino-editor::part(link-dialog__buttons){display:flex;gap:var(--space-2XS);margin:0}
.rhino-editor::part(link-dialog__button){background-color:var(--color-bg-input);border-color:var(--color-border);border-radius:100px;color:var(--color-txt);height:var(--space-XL);outline-offset:-1px;padding:0 var(--space-S)}
.rhino-editor::part(link-dialog__button):is(:hover){box-shadow:none}
.rhino-editor::part(link-dialog__button):is(:focus){border-color:inherit;box-shadow:none;outline:2px solid var(--color-primary)}
.rhino-attachment-editor::part(file-progress){background-clip:padding-box;border-color:var(--color-border);--progress-value-color: var(--color-primary)}
.trix-content{color:var(--color-txt);font-family:var(--font-custom-body);outline:none}
.trix-content h1,.trix-content h2,.trix-content h3,.trix-content h4,.trix-content h5,.trix-content h6{font-family:var(--font-custom-headlines)}
.trix-content a{display:inline;overflow-wrap:break-word;word-break:break-word;word-wrap:break-word}
.trix-content>*:first-child{margin-top:0}
.trix-content>*:last-child{margin-bottom:0}
.trix-content .has-focus[data-youtube-video]{outline:2px solid var(--color-primary)}
.is-editor-empty:before{color:var(--color-txt-light);content:attr(data-placeholder);opacity:0.8;pointer-events:none;position:absolute;user-select:none}
.attachment{margin:var(--space-M) auto;position:relative}
.attachment img{margin:auto}
.attachment__caption{color:var(--color-txt-light);font-size:var(--font-S);line-height:calc(var(--base-line-height) * 0.9);padding-top:var(--space-XS);text-align:center}
.attachment__caption:has(.attachment__name){display:none}
.attachment__caption.is-empty:before{content:attr(data-placeholder);pointer-events:none;user-select:none}
.attachment__caption .attachment__name,.attachment__caption .attachment__size{display:none}
.attachment-gallery{display:flex;flex-wrap:wrap;font-family:var(--font-custom-headlines);gap:calc(var(--base-font-size) * var(--base-line-height));justify-content:space-around;margin:0 auto;padding:0}
.attachment-gallery p,.attachment-gallery ol,.attachment-gallery ul,.attachment-gallery blockquote{flex-basis:100%;margin:0}
.attachment-gallery .ProseMirror-gapcursor{display:none}
.attachment-gallery.has-focus{outline:2px solid var(--color-primary)}
.attachment{margin:0 auto;padding:0;position:relative}
action-text-attachment{margin:0 auto}
.site-header{align-items:center;display:flex;gap:1.5ch;margin-top:var(--space-2XL)}
.site-header .site-header-avatar-link{align-self:flex-start;border-radius:var(--border-radius);flex-shrink:0}
.site-header .site-header-avatar-link .avatar{width:6.5ch}
.site-header h2{line-height:calc(var(--base-line-height) * 0.8)}
.site-header h2 a,.site-footer a{color:inherit;text-decoration:none}
.site-nav a{color:var(--color-primary);font-family:var(--font-custom-meta);margin-right:var(--space-XS)}
.site-main{margin-bottom:var(--space-4XL)}
.site-meta{font-family:var(--font-custom-meta);font-size:var(--font-S)}
.meta-svg{align-items:center;display:inline-flex;-webkit-font-smoothing:antialiased;text-align:left;text-rendering:auto;vertical-align:middle;width:var(--space-L)}
.meta-svg svg{margin-top:calc(-1 * var(--space-3XS))}
.site-footer{color:var(--color-txt);font-family:var(--font-custom-meta);font-weight:700;padding:var(--space-M);text-align:center}
.homepage-button{font-size:var(--font-L);font-weight:500;height:auto;line-height:1.3;padding:var(--space-M) var(--space-XL)}
.homepage-intro{margin-block:var(--space-4XL)}
@media (max-width: 479px){.homepage-intro .flexbox{justify-content:center;text-align:center}
}
@media (min-width: 480px){.homepage-intro{margin-bottom:var(--space-6XL)}
}
.homepage-story{margin-block:var(--space-4XL)}
.homepage-story p{font-size:var(--font-L);line-height:calc(var(--base-line-height) * 0.9)}
@media (min-width: 900px){.homepage-story p{font-size:var(--font-XL)}
}
.homepage-story p a:not(.button){display:inline}
.homepage-story ol{display:flex;flex-direction:column;font-size:var(--font-L);gap:var(--space-XL);line-height:calc(var(--base-line-height) * 0.9);list-style:none;margin:0;padding:0}
@media (min-width: 800px){.homepage-story ol{flex-direction:row;gap:0;justify-content:space-between}
.homepage-story ol li{width:31%}
}
.homepage-story ol figure{background-color:var(--color-bg-light);margin:0;padding:0}
.homepage-story ol figure>a{display:block}
@media (min-width: 480px) and (max-width: 799px){.homepage-story ol figure{align-items:center;display:flex}
.homepage-story ol figure>a{width:40%}
.homepage-story ol figure figcaption{width:60%}
}
.homepage-story ol figcaption{padding:var(--space-L)}
.homepage-quote{padding-block:var(--space-M);position:relative;text-align:center}
.homepage-quote em{display:block;font-family:Georgia, serif;margin-bottom:var(--space-2XS)}
@media (min-width: 480px){.homepage-quote em{font-size:var(--font-L);line-height:calc(var(--base-line-height) * 0.9)}
}
.homepage-pricing{background-color:#e6f2e7;margin-inline:calc(-1 * var(--space-M));padding:var(--space-2XL) var(--space-M)}
@media (prefers-color-scheme: dark){.homepage-pricing{background-color:#032f06}
}
@media (min-width: 480px){.homepage-pricing{margin-inline:auto;padding-inline:var(--space-L)}
}
@media (min-width: 700px){.homepage-pricing{padding:var(--space-3XL)}
}
@media (min-width: 480px){.homepage-pricing-inner{font-size:var(--font-L);line-height:calc(var(--base-line-height) * 0.9)}
}
.homepage-pricing-inner h2{font-size:var(--font-XL);line-height:calc(var(--base-line-height) * 0.8);margin-block:0 var(--space-XL);text-align:center}
.homepage-pricing-table{margin:var(--space-3XL) 0 0;overflow:auto}
.homepage-pricing-table table{border-bottom:1px solid var(--color-border);width:100%}
.homepage-pricing-table th,.homepage-pricing-table td{line-height:calc(var(--base-line-height) * 0.8);text-align:center;vertical-align:middle}
.homepage-pricing-table th:nth-of-type(2),.homepage-pricing-table td:nth-of-type(2){padding-inline:var(--space-XS)}
.homepage-pricing-table th:first-of-type{font-weight:400;text-align:left}
.homepage-pricing-table thead th{font-size:var(--font-XL);vertical-align:middle;white-space:nowrap}
.homepage-pricing-table thead tr.price-row td{padding-block:var(--space-3XS) var(--space-XS)}
.homepage-pricing-table thead tr.button-row td{padding-bottom:var(--space-S)}
.homepage-pricing-table tbody th,.homepage-pricing-table tbody td{border-top:1px solid var(--color-border);padding-block:var(--space-S)}
.homepage-pricing-table .fa-check{color:#1b7d1f}
.homepage-factoid{font-family:Georgia, serif;font-style:italic;padding-block:var(--space-M);position:relative;text-align:center}
@media (min-width: 480px){.homepage-factoid{font-size:var(--font-L);line-height:calc(var(--base-line-height) * 0.9)}
}
.homepage-factoid::before{background:url(https://pika.page/assets/PIKA-factoid-46e30e22b9a512bd853706d621df8660b5afce9bcfbd01f9f5792dc95b6ba659.png) no-repeat center center;background-size:160px;bottom:0;content:"";left:0;pointer-events:none;position:absolute;right:0;top:0;user-select:none;z-index:-1}
@media (prefers-color-scheme: dark){.homepage-factoid::before{filter:invert(100%)}
}
.homepage-outro{margin-bottom:var(--space-6XL)}
.homepage-outro a:not(.button){display:inline}
.homepage-outro .flexbox{align-items:center;justify-content:space-between;margin-top:var(--space-2XL)}
@media (min-width: 480px){.homepage-outro p{font-size:var(--font-L);line-height:calc(var(--base-line-height) * 0.9)}
}
.inline{display:inline !important}
.block{display:block !important}
.text-center{text-align:center !important}
.text-left{text-align:left !important}
.text-right{text-align:right !important}
.text-light{color:var(--color-txt-light) !important}
.text-default{color:var(--color-txt) !important}
.text-primary{color:var(--color-primary) !important}
.text-red{color:var(--color-error) !important}
.text-underline{text-decoration:underline !important}
.font-XS{font-size:var(--font-XS) !important}
.font-S{font-size:var(--font-S) !important}
.font-M{font-size:var(--font-M) !important}
.font-L{font-size:var(--font-L) !important}
.font-400{font-weight:400 !important}
.font-500{font-weight:500 !important}
.font-600{font-weight:600 !important}
.relative{position:relative !important}
.justify-center{justify-content:center !important}
.justify-flex-end{justify-content:flex-end !important}
.justify-space-between{justify-content:space-between !important}
.align-baseline{align-items:baseline !important}
.align-start{align-items:flex-start !important}
.flex-wrap{flex-wrap:wrap !important}
.ml-auto{margin-left:auto !important}
.mr-auto{margin-right:auto !important}
.nowrap:not(.flexbox){overflow:hidden !important;text-overflow:ellipsis !important;white-space:nowrap !important}
.nowrap.flexbox{flex-wrap:nowrap !important;white-space:nowrap !important}
.hidden,[hidden]{display:none !important}
@media (max-width: 699px){.hidden-on-tablet{display:none !important}
}
@media (max-width: 599px){.hidden-on-mobile{display:none !important}
}
@media (min-width: 600px){.hidden-on-desktop{display:none !important}
}
.m-0{margin:var(--space-0) !important}
.mx-0{margin-inline:var(--space-0) !important}
.my-0{margin-block:var(--space-0) !important}
.mt-0{margin-top:var(--space-0) !important}
.mr-0{margin-right:var(--space-0) !important}
.mb-0{margin-bottom:var(--space-0) !important}
.ml-0{margin-left:var(--space-0) !important}
.m-3XS{margin:var(--space-3XS) !important}
.mx-3XS{margin-inline:var(--space-3XS) !important}
.my-3XS{margin-block:var(--space-3XS) !important}
.mt-3XS{margin-top:var(--space-3XS) !important}
.mr-3XS{margin-right:var(--space-3XS) !important}
.mb-3XS{margin-bottom:var(--space-3XS) !important}
.ml-3XS{margin-left:var(--space-3XS) !important}
.m-2XS{margin:var(--space-2XS) !important}
.mx-2XS{margin-inline:var(--space-2XS) !important}
.my-2XS{margin-block:var(--space-2XS) !important}
.mt-2XS{margin-top:var(--space-2XS) !important}
.mr-2XS{margin-right:var(--space-2XS) !important}
.mb-2XS{margin-bottom:var(--space-2XS) !important}
.ml-2XS{margin-left:var(--space-2XS) !important}
.m-XS{margin:var(--space-XS) !important}
.mx-XS{margin-inline:var(--space-XS) !important}
.my-XS{margin-block:var(--space-XS) !important}
.mt-XS{margin-top:var(--space-XS) !important}
.mr-XS{margin-right:var(--space-XS) !important}
.mb-XS{margin-bottom:var(--space-XS) !important}
.ml-XS{margin-left:var(--space-XS) !important}
.m-S{margin:var(--space-S) !important}
.mx-S{margin-inline:var(--space-S) !important}
.my-S{margin-block:var(--space-S) !important}
.mt-S{margin-top:var(--space-S) !important}
.mr-S{margin-right:var(--space-S) !important}
.mb-S{margin-bottom:var(--space-S) !important}
.ml-S{margin-left:var(--space-S) !important}
.m-M{margin:var(--space-M) !important}
.mx-M{margin-inline:var(--space-M) !important}
.my-M{margin-block:var(--space-M) !important}
.mt-M{margin-top:var(--space-M) !important}
.mr-M{margin-right:var(--space-M) !important}
.mb-M{margin-bottom:var(--space-M) !important}
.ml-M{margin-left:var(--space-M) !important}
.m-L{margin:var(--space-L) !important}
.mx-L{margin-inline:var(--space-L) !important}
.my-L{margin-block:var(--space-L) !important}
.mt-L{margin-top:var(--space-L) !important}
.mr-L{margin-right:var(--space-L) !important}
.mb-L{margin-bottom:var(--space-L) !important}
.ml-L{margin-left:var(--space-L) !important}
.m-XL{margin:var(--space-XL) !important}
.mx-XL{margin-inline:var(--space-XL) !important}
.my-XL{margin-block:var(--space-XL) !important}
.mt-XL{margin-top:var(--space-XL) !important}
.mr-XL{margin-right:var(--space-XL) !important}
.mb-XL{margin-bottom:var(--space-XL) !important}
.ml-XL{margin-left:var(--space-XL) !important}
.m-2XL{margin:var(--space-2XL) !important}
.mx-2XL{margin-inline:var(--space-2XL) !important}
.my-2XL{margin-block:var(--space-2XL) !important}
.mt-2XL{margin-top:var(--space-2XL) !important}
.mr-2XL{margin-right:var(--space-2XL) !important}
.mb-2XL{margin-bottom:var(--space-2XL) !important}
.ml-2XL{margin-left:var(--space-2XL) !important}
.m-3XL{margin:var(--space-3XL) !important}
.mx-3XL{margin-inline:var(--space-3XL) !important}
.my-3XL{margin-block:var(--space-3XL) !important}
.mt-3XL{margin-top:var(--space-3XL) !important}
.mr-3XL{margin-right:var(--space-3XL) !important}
.mb-3XL{margin-bottom:var(--space-3XL) !important}
.ml-3XL{margin-left:var(--space-3XL) !important}
.m-4XL{margin:var(--space-4XL) !important}
.mx-4XL{margin-inline:var(--space-4XL) !important}
.my-4XL{margin-block:var(--space-4XL) !important}
.mt-4XL{margin-top:var(--space-4XL) !important}
.mr-4XL{margin-right:var(--space-4XL) !important}
.mb-4XL{margin-bottom:var(--space-4XL) !important}
.ml-4XL{margin-left:var(--space-4XL) !important}
.m-5XL{margin:var(--space-5XL) !important}
.mx-5XL{margin-inline:var(--space-5XL) !important}
.my-5XL{margin-block:var(--space-5XL) !important}
.mt-5XL{margin-top:var(--space-5XL) !important}
.mr-5XL{margin-right:var(--space-5XL) !important}
.mb-5XL{margin-bottom:var(--space-5XL) !important}
.ml-5XL{margin-left:var(--space-5XL) !important}
.m-6XL{margin:var(--space-6XL) !important}
.mx-6XL{margin-inline:var(--space-6XL) !important}
.my-6XL{margin-block:var(--space-6XL) !important}
.mt-6XL{margin-top:var(--space-6XL) !important}
.mr-6XL{margin-right:var(--space-6XL) !important}
.mb-6XL{margin-bottom:var(--space-6XL) !important}
.ml-6XL{margin-left:var(--space-6XL) !important}
.p-0{padding:var(--space-0) !important}
.px-0{padding-inline:var(--space-0) !important}
.py-0{padding-block:var(--space-0) !important}
.pt-0{padding-top:var(--space-0) !important}
.pr-0{padding-right:var(--space-0) !important}
.pb-0{padding-bottom:var(--space-0) !important}
.pl-0{padding-left:var(--space-0) !important}
.p-3XS{padding:var(--space-3XS) !important}
.px-3XS{padding-inline:var(--space-3XS) !important}
.py-3XS{padding-block:var(--space-3XS) !important}
.pt-3XS{padding-top:var(--space-3XS) !important}
.pr-3XS{padding-right:var(--space-3XS) !important}
.pb-3XS{padding-bottom:var(--space-3XS) !important}
.pl-3XS{padding-left:var(--space-3XS) !important}
.p-2XS{padding:var(--space-2XS) !important}
.px-2XS{padding-inline:var(--space-2XS) !important}
.py-2XS{padding-block:var(--space-2XS) !important}
.pt-2XS{padding-top:var(--space-2XS) !important}
.pr-2XS{padding-right:var(--space-2XS) !important}
.pb-2XS{padding-bottom:var(--space-2XS) !important}
.pl-2XS{padding-left:var(--space-2XS) !important}
.p-XS{padding:var(--space-XS) !important}
.px-XS{padding-inline:var(--space-XS) !important}
.py-XS{padding-block:var(--space-XS) !important}
.pt-XS{padding-top:var(--space-XS) !important}
.pr-XS{padding-right:var(--space-XS) !important}
.pb-XS{padding-bottom:var(--space-XS) !important}
.pl-XS{padding-left:var(--space-XS) !important}
.p-S{padding:var(--space-S) !important}
.px-S{padding-inline:var(--space-S) !important}
.py-S{padding-block:var(--space-S) !important}
.pt-S{padding-top:var(--space-S) !important}
.pr-S{padding-right:var(--space-S) !important}
.pb-S{padding-bottom:var(--space-S) !important}
.pl-S{padding-left:var(--space-S) !important}
.p-M{padding:var(--space-M) !important}
.px-M{padding-inline:var(--space-M) !important}
.py-M{padding-block:var(--space-M) !important}
.pt-M{padding-top:var(--space-M) !important}
.pr-M{padding-right:var(--space-M) !important}
.pb-M{padding-bottom:var(--space-M) !important}
.pl-M{padding-left:var(--space-M) !important}
.p-L{padding:var(--space-L) !important}
.px-L{padding-inline:var(--space-L) !important}
.py-L{padding-block:var(--space-L) !important}
.pt-L{padding-top:var(--space-L) !important}
.pr-L{padding-right:var(--space-L) !important}
.pb-L{padding-bottom:var(--space-L) !important}
.pl-L{padding-left:var(--space-L) !important}
.p-XL{padding:var(--space-XL) !important}
.px-XL{padding-inline:var(--space-XL) !important}
.py-XL{padding-block:var(--space-XL) !important}
.pt-XL{padding-top:var(--space-XL) !important}
.pr-XL{padding-right:var(--space-XL) !important}
.pb-XL{padding-bottom:var(--space-XL) !important}
.pl-XL{padding-left:var(--space-XL) !important}
.p-2XL{padding:var(--space-2XL) !important}
.px-2XL{padding-inline:var(--space-2XL) !important}
.py-2XL{padding-block:var(--space-2XL) !important}
.pt-2XL{padding-top:var(--space-2XL) !important}
.pr-2XL{padding-right:var(--space-2XL) !important}
.pb-2XL{padding-bottom:var(--space-2XL) !important}
.pl-2XL{padding-left:var(--space-2XL) !important}
.p-3XL{padding:var(--space-3XL) !important}
.px-3XL{padding-inline:var(--space-3XL) !important}
.py-3XL{padding-block:var(--space-3XL) !important}
.pt-3XL{padding-top:var(--space-3XL) !important}
.pr-3XL{padding-right:var(--space-3XL) !important}
.pb-3XL{padding-bottom:var(--space-3XL) !important}
.pl-3XL{padding-left:var(--space-3XL) !important}
.p-4XL{padding:var(--space-4XL) !important}
.px-4XL{padding-inline:var(--space-4XL) !important}
.py-4XL{padding-block:var(--space-4XL) !important}
.pt-4XL{padding-top:var(--space-4XL) !important}
.pr-4XL{padding-right:var(--space-4XL) !important}
.pb-4XL{padding-bottom:var(--space-4XL) !important}
.pl-4XL{padding-left:var(--space-4XL) !important}
.p-5XL{padding:var(--space-5XL) !important}
.px-5XL{padding-inline:var(--space-5XL) !important}
.py-5XL{padding-block:var(--space-5XL) !important}
.pt-5XL{padding-top:var(--space-5XL) !important}
.pr-5XL{padding-right:var(--space-5XL) !important}
.pb-5XL{padding-bottom:var(--space-5XL) !important}
.pl-5XL{padding-left:var(--space-5XL) !important}
.p-6XL{padding:var(--space-6XL) !important}
.px-6XL{padding-inline:var(--space-6XL) !important}
.py-6XL{padding-block:var(--space-6XL) !important}
.pt-6XL{padding-top:var(--space-6XL) !important}
.pr-6XL{padding-right:var(--space-6XL) !important}
.pb-6XL{padding-bottom:var(--space-6XL) !important}
.pl-6XL{padding-left:var(--space-6XL) !important}
.gap-0{gap:var(--space-0) !important}
.gap-3XS{gap:var(--space-3XS) !important}
.gap-2XS{gap:var(--space-2XS) !important}
.gap-XS{gap:var(--space-XS) !important}
.gap-S{gap:var(--space-S) !important}
.gap-M{gap:var(--space-M) !important}
.gap-L{gap:var(--space-L) !important}
.gap-XL{gap:var(--space-XL) !important}
.gap-2XL{gap:var(--space-2XL) !important}
.gap-3XL{gap:var(--space-3XL) !important}
.gap-4XL{gap:var(--space-4XL) !important}
.gap-5XL{gap:var(--space-5XL) !important}
.gap-6XL{gap:var(--space-6XL) !important}


